<div class="panel panel-default">
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Document Title:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [ngModel]="document.name"
            #name="ngModel"
            [ngClass]="{
              'is-invalid': name.invalid && (name.touched || name.dirty)
            }"
            size="120"
            max="120"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Document Description:</label>
          <input
            type="text"
            id="description"
            [ngModel]="document.description"
            class="form-control"
            size="120"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">Document URL:</label>
          <input
            type="text"
            id="url"
            name="url"
            class="form-control"
            required
            [ngModel]="document.url"
            #url="ngModel"
            [ngClass]="{
              'is-invalid': url.invalid && (url.touched || url.dirty)
            }"
            size="150"
            max="255"
          />
        </div>
      </div>

      <!-- Error Message -->
      <div
        class="alert alert-danger"
        *ngIf="
          (name.invalid && (name.touched || name.dirty)) ||
          (url.invalid && (url.touched || url.dirty))
        "
      >
        The Document Title and Document URL are required fields.
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">
            Save
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
